/*Root*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {

    /*Colours */
    --theme-color: hsl(284, 91%, 14%);
    --strong-gold: hsl(41, 27%, 61%);
    --light-purple: hsl(285, 15%, 59%);
    --light-gold: hsl(41, 45%, 75%);
    --heavy-gold: #DFCBA1;
    --a-link-blue: hsl(240, 100%, 50%);
    --a-link-blue-hover: hsl(240, 97%, 35%);
    --beige: hsl(41, 49%, 90%);
    --white: hsl(0, 0%, 100%);
    
    /*Font Weight*/
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*Common Styles*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
    color: var(--theme-color);
}

a {
    text-decoration: none;
    color: var(--theme-color);
}

a:hover {
    color: var(--white);
}

.play-fair-sc {
    font-family: 'Playfair Display SC', serif;
}

.spectral-sc {
    font-family: 'Spectral SC', serif;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-40 {
    font-size: 40px;

}

.fs-50 {
    font-size: 50px;
}

.fs-55 {
    font-size: 55px;
    color: black;
}

.lh {
    line-height: 45px;;
}


/*---------Header----------*/
.top-header {
    display: none;
}

.header-section .top-header{
    background-color: var(--theme-color);
}

.header-section .icon-box img{
    width: 50%;
    height: auto;
}

.header-section .description-box a{
    color: var(--white);
}

.header-section .description-box .number-deco{
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.header-section .description-box .number-deco .deco{
    font-family: 'Playfair Display SC', serif;
    font-size: 23px;
    font-weight: var(--fw-700);
}

.header-section .description-box .social-media-icons img{
    width: 30%;
    height: auto;
}

.nav-item .active {
    background-color: var(--beige);
}

.submit-btn {
    background-color: var(--light-gold);
}

/*-------------------------*/
/*---------Home Page----------*/
.carousell-container .banner-item {
    position: relative;
}

.carousell-container .banner-item .text-container-one {
    position: absolute;
    top: 35%;
    left: 55%;
    line-height: 45px;
}

.carousell-container .banner-item .text-container-two {
    position: absolute;
    top: 35%;
    left: 10%;
    right: 45%;
    line-height: 45px;
}

.carousell-container .banner-item .text-container-three {
    position: absolute;
    top: 30%;
    left: 45%;
    right: 10%;
}

.carousell-container .banner-item .text-container-four {
    position: absolute;
    background-color: rgba(57, 55, 55, 0.7);
    padding: 25px;
    color: white;
    top: 35%;
    left: 45%;
    right: 10%;
}

.carousell-container .banner-item .text-container-five {
    position: absolute;
    top: 35%;
    right: 45%;
}

.carousell-container .banner-item .text-container-six {
    position: absolute;
    top: 30%;
    left: 65%;
    right: 5%;
}

.carousell-container .banner-item  h1 {
    font-size: 55px;
    font-weight: 700;
}

.carousell-container .banner-item  p {
    font-size: 20px;
}

.carousell-container .banner-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 750px;
    margin-top: -100px;
}

.carousell-container .banner-item .banner-one-btn {
    background-color: var(--light-purple);
    color: white;
}


.book-appointment-segment {
    background-color: var(--heavy-gold);
    color: var(--white);
}

.book-appointment-segment .form-container button{
    background-color: var(--light-purple);
}

/*Segment One*/
.segment-one,
.our-awards-segment {
    background-color:var(--beige) ;
}

.segment-one h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    font-style: italic;
}

.segment-one h1 strong {
    font-family: 'Playfair Display', serif;
}

.segment-one-content-container {
    margin: 70px 60px 0px;
}

.segment-one-content-container img {
    width: 750px;
    height: auto;
}

.segment-one-content-container .text-container p {
    margin-bottom: 70px;
}
.segment-one-content-container .text-container hr {
    margin-bottom: 70px;
}

/*------Our Services--------*/
.our-services-segment {
    background-color: var(--theme-color);
    color: var(--white);
}

.services-icon-container {
    margin: 0px 100px;
}
/*--------------------------*/

/*------Our Awards--------*/
.our-awards-segment {
    background-color: var(--strong-gold);
    font-style: italic;
}

.awards-img-container {
    margin: 0px 40px;
}

.awards-img-container img{
    width: 50%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------*/

/*------Our Doctors--------*/
.our-doctors-card-container .card {
    background-color: var(--light-purple);
    margin: 2em 5em;
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
  }
.our-doctors-card-container  .card img {
    width: 65%;
    
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
.our-doctors-card-container  .card .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
/*--------------------------*/

/*------Testimonails--------*/
.testimonals-segment {
    background-color: var(--light-purple);
    color: var(--white);
}

.testimonals-segment h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
}

.testimonial-contianer span {
    position: absolute;
    transform: translate(-50%,50%);
}

.testimonals-segment button{
    background-color: white;
    color: black;
}

.join-our-newsletter-segment .form-container input {
    background-color: var(--light-purple);
}

.join-our-newsletter-segment .form-container button {
    background-color: var(--light-purple);
    
}

/*--------------------------*/

/*------Contact Us--------*/
.contact-us-segment .form-container {
    background-color: var(--theme-color);
}

.contact-us-segment .form-container h2 {
    color: var(--heavy-gold);
    font-weight: var(--fw-700);
}

.contact-us-segment .form-container form input[type=text],
.contact-us-segment .form-container form input[type=email] {
  width: 80%;
  padding: 12px 5px;
  margin: 10px 0px;
  border: none;
  border-bottom: 2px solid black;
}

.contact-us-segment .form-container form textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/*--------------------------*/

.contact-us-segment .form-container a{
    color: var(--a-link-blue);
    text-decoration: underline;
}

.contact-us-segment .form-container a:hover{
    color: var(--a-link-blue-hover);
}

.our-blog {
    background-color:var(--beige) ;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

/*---------Footer-----------*/
footer {
    background-color: var(--theme-color);
    color: var(--white);
}

footer .number-deco {
    color: var(--white);
}

.footer-nav {
    background-color: var(--light-purple);
    color: var(--theme-color);
}
/*-------------------------*/

/*Store Location*/
.store-location-segment {
    background-color: var(--heavy-gold);
    color: var(--white);
}

/*Privacy Policy*/
.privacy-policy-banner {
    background-image: url(../assets/img/Banner.png);
}

.privacy-policy-banner h1{
    font-weight: var(--fw-700);
    font-size: 45px;
    color: var(--white);
}

.privacy-policy-description {
    background-image: url(../assets/img/PDPA.png);
}

.privacy-policy-description p{
    font-size: 20px;
    line-height: 45px;
}

.privacy-policy-description a {
    text-decoration: underline;
    font-style: italic;
}

/*Testimonials Page*/
.testimonials-banner-image .content-wrap {
    position: relative;
}

.testimonials-banner-image img {
    width: 100%;
    height: 500px;
    margin-top: -100px;
}

.testimonials-banner-image .content-wrap .banner-title{
    position: absolute;
    top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.all-testimonials-segment {
    background-color: #F2EAD9;
    ;
}

.testimonials-card .card {
    background-color:#F2EAD9;
}

.testimonials-card .card .card-text{
    margin-right: 150px;
}

.all-testimonials-segment button {
   background-color: var(--light-purple);
   color: var(--white);
}

/*--------Profile Page-----------*/


/*------------Blog-------------*/
.all-blog-segment .news-articles-segment .card:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

/*-----------------------------*/

/*Profile*/
.doctor-patrick-profile-section {
    background-color: var(--theme-color);
}

.doctors-profile-section .doctor-patrick-profile-section .banner {
    position: relative;
}

.doctors-profile-section .doctor-patrick-profile-section .banner img {
    position: absolute;
}

.doctors-profile-section .doctor-patrick-profile-section .banner .pic-display{
    background-color: var(--light-purple);
}

.doctors-profile-section p {
    font-size: 20px;
}

.achievements-list .qualifications ul,
.achievements-list .committees ul {
    list-style-type: none;
    margin-left: 5px;
    line-height: 45px;
    font-size: 20px;
}


.achievements-list .area-of-specialization p{
    text-align: right;
    line-height: 40px;
    margin-left: 20px;
}

.doctor-bob-profile-section {
    background-color: #F2EAD9;
    ;
}

.doctors-profile-section .doctor-bob-profile-section .banner {
    position: relative;
    color: black;
}

.doctors-profile-section .doctor-bob-profile-section .banner img {
    position: absolute;
    margin-left: 150px;
}

.doctors-profile-section .doctor-bob-profile-section .banner .pic-display{
    background-color: var(--light-gold);
}

/*----------Treatments--------------*/
.featured-procedures-segment,
.treatment-description
 {
    background-color:#8B6E46;
    line-height: 45px;
}

/*Skin*/
.skin-issues-description,
.how-it-works-banner {
    background-color:#F2EAD9;
    line-height: 45px;
}

.banner-image {
    position: relative;
}

.banner-image img {
    width: 100%;
}

.banner-image h1 {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}

.treatment-description {
    color: white;
}

.treatment-description img,
.treatment-description-2 img  {
    width: 100%;
}

.treatment-description .row .col .margin-custom {
    padding-left: 100px;
}

.treatment-description .row .col .smaller-desc {
    margin-left: 100px;
    margin-right: 20px;
}

.treatment-description-2 .words-desc {
    text-align: right;
    float: inline-end;
}

.treatment-description-2 .words-desc table {
    margin-left: auto;
    margin-right: 50px;
    text-align: left;
}

.treatment-description-2 .words-desc tr:nth-child(1) td:nth-child(2),
.treatment-description-2 .words-desc tr:nth-child(2) td:nth-child(1){
    background-color: rgb(154, 154, 154);
    color: black;
 }

 .treatment-description-2 .words-desc tr:nth-child(1) td:nth-child(1),
 .treatment-description-2 .words-desc tr:nth-child(2) td:nth-child(2){
   background-color: rgb(30, 28, 28);
   color: #ccc;
}

.treatment-description-2 .crop-image {
    width: auto;
    height: 500px;
    overflow: hidden;
}

.how-it-works-banner .container .row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
}

.sylfirm-x-procedure-section{
    line-height: 45px;
}

.featured-procedures-segment img {
    width: 361px;
    height: 257px;
    overflow: hidden;
}

/*-----*/

/*------Media Queries-------*/
@media (min-width: 992px)  {
    .treatment-description-2 .crop-image {
        height: 700px;
        overflow: hidden;
    }
}
/*-------------------------*/





