/*Root*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {

    /*Colours */
    --theme-color: hsl(284, 91%, 14%);
    --strong-gold: hsl(41, 27%, 61%);
    --light-purple: hsl(285, 15%, 59%);
    --beige: hsl(41, 49%, 90%);
    --white: hsl(0, 0%, 100%);
    
    /*Font Weight*/
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
}

/*Common Styles*/
body {
    font-family: 'Playfair Display', serif;
    color: var(--theme-color);
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--white);
}

/*---------Header----------*/
.header-section .top-header,
footer{
    background-color: var(--theme-color);
}

.header-section .icon-box img{
    width: 50%;
    height: auto;
}

.header-section .description-box a{
    color: var(--white);
}

.header-section .description-box .number-deco{
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.header-section .description-box .number-deco .deco{
    font-family: 'Playfair Display SC', serif;
    font-size: 23px;
    font-weight: var(--fw-700);
}

.header-section .description-box .social-media-icons img{
    width: 30%;
    height: auto;
}
/*-------------------------*/
.segment-one,
.our-awards-segment {
    background-color:var(--beige) ;
}

.segment-one h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    font-style: italic;
}

.segment-one h1 strong {
    font-family: 'Playfair Display', serif;
}

.our-services-segment {
    background-color: var(--theme-color);
    color: var(--white);
}

.services-icon-container {
    margin: 0px 100px;
}

.our-awards-segment {
    background-color: var(--strong-gold);
    font-style: italic;
}

.meet-our-doctors-segment h1 {
    font-family: 'Playfair Display SC', serif;
}

.testimonals-segment {
    background-color: var(--light-purple);
    color: var(--white);
}

.testimonals-segment h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
}

.contact-us-segment .form-container {
    background-color: var(--theme-color);
}

.play-fair-sc {
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
}

.our-blog {
    background-color:var(--beige) ;
}

.footer-nav {
    background-color: var(--light-purple);
    color: var(--theme-color);
}







